<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consequatur porro delectus, repudiandae velit iure labore alias. Natus veritatis commodi quibusdam cupiditate obcaecati blanditiis dicta facere dolore! Nesciunt, asperiores sed!</p>
    </div>
</section>